/* reset */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none;
}
html, 
body {
    height: 100%;
    width: 100%;
}
body {
    line-height: 1;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background: none;
    padding: none;
    color: black;
    text-align: left;
}
hr {
    border: none;
}

/* End Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color-1: #17255A;
    --main-color-2: #007EA7;
    --neutral-color: #EDE8ED;
    --neutral-dark-color: #e4e0e4;
    --shadow-color: #26284b;
    --warning-color: red;
    --submit-color: rgb(5, 165, 5);
}
body {
    display: grid;
    grid-template-columns: minmax(calc(190px + 2em), 1fr) 5fr;
    grid-template-rows: 1fr 12fr;

    font-family: 'Roboto', sans-serif;
}

/* ..Header */
header {
    grid-area: 1/1/2/-1;
    background-color: var(--main-color-1);
    color: var(--neutral-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0px 1px 8px var(--shadow-color);
    z-index: 1;
}
header svg {
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
    height: 2.5em;
}


/* Side-bar */
aside {
    grid-area: 2/1/-1/2;
    background-color: var(--main-color-2);
}
hr {
    border-top: 1px solid var(--shadow-color);
    height: 1px;
    width: 100%;
}
.projects > h1 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 0.8em;
}
.projects, aside > button {
    margin: 1em;
    margin-top: 2.2em;
}
.projects {
    line-height: 1;
    width: 90%;
}
.project-no {
    background-color: var(--shadow-color);
    color: var(--neutral-color);
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2em;
    height: 2em;
    padding: 0.3em;
    font-size: 0.6em;
    margin-right: 1em;
}
button.project {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    width: 100%;

    font-weight: 800;
    padding: 0.3em;
}
aside button {
    font-size: 1.3em;
}
aside button:hover {
    color: white;
}


/* To-do list Section */
main {
    grid-area: 2/2/-1/-1;
    background-color: var(--neutral-color);
}
.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1.5em;
    font-size: 1.2em;
}
.to-do-list > h1 {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

/* Table Stuff */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 0.8em;
}
th, td {
    text-align: left;
}
tbody tr td {
    border: 1px solid white;
    border-right: 0px;
    border-left: 0px;
    
}
tbody tr td:first-child {
    border-left: 1px solid white;
    border-radius: 10px 0 0 10px;
    padding: 0.4em; 
}
tbody tr td:last-child {
    border-right: 1px solid white;
    border-radius: 0 10px 10px 0;
    padding: 0.4em; 
}
tbody tr:hover {
    background-color: var(--neutral-dark-color);
    box-shadow: 0px 11px 10px -14px var(--shadow-color);
}
table button {
    border: 1px solid var(--main-color-1);
    padding: 7px;
    border-radius: 4px;
    font-weight: 600;
}
/* edit */
tr td:nth-child(5) > button {
    border-color: var(--submit-color);
    background-color: var(--submit-color);
    color: var(--neutral-color);
}
tr td:nth-child(5) > button:hover {
    border-color: var(--main-color-1);
    color: var(--submit-color);
    background-color: var(--neutral-color);
}
/* remove */
tr td:nth-child(6) > button {
    border-color: var(--warning-color);
    background-color: var(--warning-color);
    color: var(--neutral-color);
}
tr td:nth-child(6) > button:hover {
    border-color: var(--main-color-1);
    color: var(--warning-color);
    background-color: var(--neutral-color);
}
.col-rmv, .col-chk, .col-edit {
    width: 3.33%;
}
.col-title {
    width: 65%;
}
.col-due {
    width: 15%;
}
.col-proj {
    width: 10%;
}
/* form */
.form-open {
    display: flex;
    z-index: 10;
    background-color: aqua;
    position: fixed;
    left: 50%;
    top: 25%;
    width: 20%;
    flex-direction: column;
}